.custom-popup-style {
  font-family: sans-serif;
  margin: 0;
}

.custom-popup-style .panel-list-item {
  /* restyle button */
  -webkit-appearance: none;
  outline: none;
  background-color: white;
  border: none;
  width: 100%;
  font-size: 14px;
  text-align: left;

  padding: .3em .5em;
  cursor: pointer;
  white-space: nowrap;
}

.custom-popup-style .panel-list-item:hover {
  background-color: #268BD2;
  color: white;
}

.custom-popup-style .panel-section-separator {
  border-top: 1px solid silver;
  margin: .3em 0;
}

