body {
  font-family: sans-serif;
  margin: 0;
}

.command {
  /* restyle button */
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 14px;
  text-align: left;

  padding: .3em .5em;
  cursor: pointer;
  white-space: nowrap;
}

.command:hover {
  background-color: #268BD2;
  color: white;
}

.command.highlight-success {
  background-color: #259286;
  color: #fdf5dd;
}
