:root {
    --scheme-color: hsl(171deg,98%,29%);
}

#menu {
    width: 220px;
}

#form-selection-heading-style .heading-style-options {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

#form-selection-heading-style .heading-style-choice {
    display: block;
}

#form-selection-heading-style .heading-style-example {
    display: block;
    width: fit-content;
    margin: 0.25rem 0 0.5rem 1.5rem;
    white-space: pre;
}

#form-selection-link-style .link-style-choice {
    border: 2px solid var(--bulma-border);
    cursor: pointer;
}

#form-selection-link-style .link-style-choice:has(input:checked) {
    border-color: var(--scheme-color);
}

.code-sample {
    white-space: normal;
    word-break: break-all;
    background-color: var(--bulma-code-background);
    border-radius: 0.5em;
    color: var(--bulma-code);
    font-size: var(--bulma-code-size);
    font-weight: var(--bulma-code-weight);
    padding: var(--bulma-code-padding);
}

.button.is-primary {
    background-color: var(--scheme-color);
    color: white;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    color: var(--scheme-color);
    border-color: var(--scheme-color);
}
