body {
  font-family: sans-serif;
  margin: 0;
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.menu > li {
  padding: .3em .5em;
  cursor: pointer;
  white-space: nowrap;
}

ul.menu > li:hover {
  background-color: #268BD2;
  color: white;
}

ul.menu > .highlight-success {
  background-color: #259286;
  color: #fdf5dd;
}
