name: Node CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.node-version'
          cache: npm
      - run: npm ci
      - run: npm test
      - run: npm run lint
      - run: npm install -g web-ext # build tool
      - run: npm run build-chrome
      - run: npm run build-firefox
      - run: npm run build-firefox-mv3

  playwright:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 10
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@v4
      - name: Install clipboard dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xsel xclip
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.node-version'
          cache: npm
      - run: npm ci
      - name: Build extension
        run: npm run compile && node ./scripts/build-test-extension.js
      - name: Run Playwright tests
        run: xvfb-run -a npm run test:e2e
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
