name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: npm
      - run: npm ci
      - run: npm run test:unit
      - run: npm run lint
      - run: npm install -g web-ext # build tool
      - run: npm run build-chrome
      - run: npm run build-firefox-mv2
      - run: npm run build-firefox-mv3

  playwright:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 10
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    steps:
      - uses: actions/checkout@v4
      - name: Install clipboard dependencies
        run: |
          apt-get update && apt-get install -y xsel
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: npm
      - run: npm ci
      - name: Run Vitest UI tests in browser
        run: npm run test:browser
      - name: Run Playwright tests
        run: xvfb-run -a npm run test:e2e
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
